.animeLeft {
  opacity: 0;
  /* transform: translateX(-20px); */
  transform: scale(0.8);
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}
