.contacto {
  display: grid;
  grid-template-columns: 1fr 1fr; /* criand dias colunas iguais*/
  gap: 2rem; /* distancia entre as colunas*/
}

.dados {
  padding: 0px;
  list-style: none;
}

.dados li {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0.8rem;
}

.dados li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background: #ddd;
  margin-right: 10px;
}

.animeLeft {
  transform: TranslateX(-20px);
  opacity: 0;
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    transform: initial;
    opacity: initial;
  }
}
